In [4]:
#Define a function to print "Hello!" when called
def say_hello():
    print("Hello!")

In [5]:
#Call the function
say_hello()

Hello!

In [2]:
# Define the function "say_something" so it prints whatever is passed as the variable when called.
def say_something(something):
    print(something)

# Call the function.
say_something("Hello World!")

In [9]:
#Creating a variable and then print it with the function
Jane_says ="Hi, my name is Jane. I'm learning Python!"

say_something(Jane_says)

Hi, my name is Jane. I'm learning Python!

In [4]:
# Define a function that calculates the percentage of students that passed both 
# math and reading and returns the passing percentage when the function is called.

def passing_math_percent(pass_math_count, student_count):
    return pass_math_count / float(student_count) * 100

In [5]:
#we declare the variables we're working with
passing_math_count = 29370
total_student_count = 39170

In [8]:
# Call the function.
passing_math_percent(passing_math_count, total_student_count)

74.9808526933878

In [9]:
# A list of my grades.
my_grades = ['B', 'C', 'B' , 'D']

In [10]:
# Import pandas.
import pandas as pd
# Convert the my_grades to a Series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [11]:
#The map() function is used for substituting each value in a Series with another value
#Using the map() function we are going to change B to A, C to B, and D to C. 
#To change each string value in this Series to another value using the following format.
# map("current_value_1" : "new_value_1",  "current_value_2" : "new_value_2", etc)

# Change the grades by one letter grade.
my_grades.map({'B': 'A', 'C': 'B', 'D': 'C'})

#Since we had two grades that were a "B", we didn't need to map the second "B" to an "A"

0    A
1    B
2    A
3    C
dtype: object

In [14]:
#The Python format() function is used to format a value to a specific format, 
#such as one or two decimal places, or adding a thousands separator.

#This function follows this syntax: 
#"{value:format specification}".format(value)

# Using the format() function with pandas
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))
    
#After the colon, the .0f means to format the grade with no decimal place, where the "period" is for the decimal place
#the "0" is for "no" decimal place, and the "f" means floating-point decimal. 
#If we wanted to format to one decimal place, we would use 1 instead of 0, and 2 for two decimal places, and so on

92
85
87
98

In [15]:
# Convert the numerical grades to a Series.
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

In [16]:
# Format the grades to the nearest whole number percent.
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object