In [52]:
#add the pandas dependency
import pandas as pd
import os

In [14]:
# List of high schools
high_schools2 = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

for HSchools2 in high_schools2:
    print(HSchools2)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [12]:
#Create a pandas series from a list
school_series=pd.Series(high_schools2)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [15]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [16]:
#Create a data frame from dictionary
school_df=pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [17]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [21]:
#Creating a Data frame form 3 differents lists
schools_df=pd.DataFrame()

schools_df["School_ID_DF"]=school_id
schools_df["School_Name_DF"]=school_name
schools_df["Type_Of_School_DF"]=type_of_school

schools_df

   School_ID_DF         School_Name_DF Type_Of_School_DF
0             0      Huang High School          District
1             1   Figueroa High School          District
2             2    Shelton High School           Charter
3             3  Hernandez High School          District
4             4    Griffin High School           Charter

In [46]:
school_id = [0, 1, 2, 3,4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

#Creating a dictionary from the lists
high_school_dict = {"High_school_Id":school_id,"School_Name":school_name,"Type_Of_School":type_of_school}

High_School_DF=pd.DataFrame(high_school_dict)
High_School_DF

   High_school_Id            School_Name Type_Of_School
0               0      Huang High School       District
1               1   Figueroa High School       District
2               2    Shelton High School        Charter
3               3  Hernandez High School       District
4               4    Griffin High School        Charter

In [29]:
#Shows the name of the columns in a Data Frame
High_School_DF.columns

Index(['High_school_Id', 'School_Name', 'Type_Of_School'], dtype='object')

In [30]:
#Shows the index of the Data Frame
High_School_DF.index

RangeIndex(start=0, stop=5, step=1)

In [51]:
#Excersize of creating series and then a Data Frame

school_id=[0,1,2,3,4,5,6,7,8,9]
school_name=['HuangHS','FigueroaHS','SheltonHS','HernandezHS','GriffinHS','WilsonHS','CabreraHS','BaileyHS','HoldenHS','PenaHS']
type_school=['d','d','c','d','c','c','c','d','c','d']

Ex_Schol_dict={"SchoolID":school_id,"SchoolName":school_name,"SchoolType":type_school}
Ex_Schol_dict

Ex_School_DF=pd.DataFrame(Ex_Schol_dict)
Ex_School_DF.shape

(10, 3)

In [31]:
#Shows the values in a Data Frame
High_School_DF.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [3]:
#List of highschools
high_schools = ['Hernandez High School','Figueroa High School','Wilson High School','Wright High School']

for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [4]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

for school2 in high_school_types:
    print(school2)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}